{% extends 'base/base.html' %}
{% load static %}

{% block header_content %}
    <link rel='stylesheet' href="{% static '/auth/css/email_verification.css' %}">
{% endblock header_content %}
{% block body_content %}
    <h1 class='header'>Reset your password</h1>
    <form action="/" method="POST" id="motlform">
        {% csrf_token %}
        <div class="reset_password">
            <div class="l3inin">
                <i class="bi bi-envelope-at"></i>
                <input type="email" placeholder="Email" name="email" id="email" required>
            </div>
            <button type="submit" value="send_mail" id="send_mail">send email</button>
            {% if wrong_email %}
                <div class="wrong_email">
                    <p id='pass-text'>This email is not registred.</p>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock body_content %}
