{% extends 'base/base.html' %}
{% load static %}

{% block header_content %}
		<title>Bus Bladi</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='icon' href="{% static 'auth/images/logo_mini.png' %}">
		<link rel="stylesheet" href="{% static 'auth/css/login.css' %}">
		<script src="{% static 'auth/js/password.js' %}"></script>
{% endblock header_content %}
{% block body_content %}
			<div class="login-data0">
				<h1 class='header1'>Login</h1>
				<form action="" method="post" id="motlform">
					<div class="form1">
						{% comment %} {% csrf_token %} {% endcomment %}
						<div class="l3inin">
							<i class="bi bi-envelope-at"></i>
							<input type="email" placeholder="Email" name="email" id="email" required>
						</div>
						<div class='l3inin'>
							<i onclick='show_password()' class="bi bi-eye" id='logo-eyes'></i>
							<input type="password" placeholder="password" name="password" id="password" required />
						</div>
						<a class='f-pass'>forgot password</a>
						<div class="signs">
							<a href='#' class='signref'><button type="button" value="sign in" id="signin">sign_in</button></a>
							<a href='/signup/'class='signref'><button type="button" value="sign up" id="signup">sign_up</button></a>
						</div>
					</div>
				</form>
			</div>
{% endblock body_content %}
