{% extends 'base/base.html' %}
{% load static %}

{% block header_content %}
    <link rel='stylesheet' href="{% static '/auth/css/reset_password.html.css' %}">
{% endblock header_content %}
{% block body_content %}
    <h1 class='header'>Reset your password</h1>
    {% if verifie_password %}
        <form action="/update_password/" method="POST" id="motlform">
            {% csrf_token %}
            <div class="reset_password">
                {% if errors.items %}
                    <div class='errors'>
                        {% for field, field_errors in errors.items %}
                            <p id='errors'>{{field_errors}}</p>
                        {%endfor%}
                    </div>
                {% endif %}
                <div class='l3inin'>
                    <i onclick='show_password()' class="bi bi-eye" id='logo-eyes'></i>
                    <input type="password" placeholder="new_password" name="new_password" id="new_password" required />
                </div>
                <div class='l3inin'>
                    <i onclick='show_password()' class="bi bi-eye" id='logo-eyes'></i>
                    <input type="password" placeholder="confirm_password" name="c_password" id="c_password" required />
                </div>
                <button type="submit" value="send_mail" id="send_mail">register</button>
            </div>
        </form>
    {% else %}
        <form action="/reset_password/" method="POST" id="motlform">
            {% csrf_token %}
            <div class="reset_password">
                {% if verifie_email %}
                    <div class="l3inin">
                        <i class="bi bi-envelope-at"></i>
                        <input type="email" placeholder="Email" name="email" id="email" required>
                    </div>
                {% endif %}
                {% if wrong_email %}
                    <p id='pass-text'>This email is not registred.</p>
                {% endif %}
                {% if send %}
                    <p id='true_pass-text'>Email has been send.</p>
                {% endif %}  
                <button type="submit" value="send_mail" id="send_mail">send email</button>
            </div>
        </form>
    {% endif %}

{% endblock body_content %}
